x-common-service-defaults: &common-service-defaults
  restart: unless-stopped
  logging:
    driver: "json-file"
    options:
      max-size: ${LOG_MAX_SIZE:-200k}
      max-file: ${LOG_MAX_FILE:-5}

x-hardened: &hardened
  read_only: true
  security_opt:
    - no-new-privileges:true
  cap_drop:
    - NET_RAW


secrets:
  CF_TOKEN:
    file: ../common/docker/secrets/cf_token
  AUTHELIA_JWT_SECRET:
    file: ../common/docker/secrets/authelia/jwt_secret
  AUTHELIA_SESSION_SECRET:
    file: ../common/docker/secrets/authelia/session_secret
  AUTHELIA_STORAGE_ENCRYPTION_KEY:
    file: ../common/docker/secrets/authelia/storage_encryption_key
  AUTHELIA_OIDC_HMAC:
    file: ../common/docker/secrets/authelia/oidc_hmac
  AUTHELIA_OIDC_ISSUER_PRIVATE_KEY:
    file: ../common/docker/secrets/authelia/oidc_issuer_private_key
volumes:
  authelia-data:
services:
  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    <<: *common-service-defaults
    environment:
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_SCHEDULE: "0 42 4 * * *"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      resources:
        limits:
          memory: 100M
        reservations:
          memory: 20M
  traefik-cloudflare-companion:
    image: tiredofit/traefik-cloudflare-companion:${TRAEFIK_CLOUDFLARE_VERSION:-latest}
    container_name: traefik-cloudflare-companion
    <<: *common-service-defaults
    environment:
      CONTAINER_ENABLE_MONITORING: "false"
      TARGET_DOMAIN: homenet.u8.lv
      DOMAIN1: arhipov.net
      DOMAIN1_ZONE_ID: 8f927f276e4b3481aba03ee4d29a9ef9
      DOMAIN1_TARGET_DOMAIN: homenet.arhipov.net
      DOMAIN1_PROXIED: "false"
      DOMAIN2: u8.lv
      DOMAIN2_ZONE_ID: a7a5b30ac9c981dc8d845ef0e398e939
      DOMAIN2_TARGET_DOMAIN: homenet.u8.lv
      DOMAIN2_PROXIED: "true"
      TRAEFIK_EXCLUDED_HOST1: u8\.lv
      TRAEFIK_EXCLUDED_HOST2: home\.arhipov\.net
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    secrets:
      - CF_TOKEN
    deploy:
      resources:
        limits:
          memory: 100M
        reservations:
          memory: 50M
  authelia:
    image: authelia/authelia:4.38.10
    container_name: authelia
    <<: *common-service-defaults
    environment:
      PUID: 1000
      PGID: 1000
      AUTHELIA_JWT_SECRET_FILE: /run/secrets/AUTHELIA_JWT_SECRET
      AUTHELIA_SESSION_SECRET_FILE: /run/secrets/AUTHELIA_SESSION_SECRET
      AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE: /run/secrets/AUTHELIA_STORAGE_ENCRYPTION_KEY
      AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET_FILE: /run/secrets/AUTHELIA_OIDC_HMAC
      AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY_FILE: /run/secrets/AUTHELIA_OIDC_ISSUER_PRIVATE_KEY
      DOMAIN: ${DOMAIN}
      HOSTNAME: ${HOSTNAME}
    command:
      - authelia
      - "--config=/etc/authelia/configuration.yml"
      - "--config=/etc/authelia/secrets/configuration.oidc.yml"
      - "--config.experimental.filters=expand-env"
    volumes:
      # /config is chowned, so volume has right permissions
      - authelia-data:/config/data:rw
      - /var/lib/docker-services/volumes/authelia:/etc/authelia:ro
    secrets:
      - AUTHELIA_JWT_SECRET
      - AUTHELIA_SESSION_SECRET
      - AUTHELIA_STORAGE_ENCRYPTION_KEY
      - AUTHELIA_OIDC_HMAC
      - AUTHELIA_OIDC_ISSUER_PRIVATE_KEY
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.authelia.loadbalancer.server.port=8080"
      - "traefik.http.routers.authelia.entrypoints=https"
      - "traefik.http.routers.authelia.rule=Host(`authelia.${DOMAIN}`) || Host(`authelia-${HOSTNAME}.u8.lv`)"
      - "traefik.http.middlewares.authelia.forwardauth.trustForwardHeader=true"
      - "traefik.http.middlewares.authelia.forwardauth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email"
      - "traefik.http.middlewares.authelia.forwardauth.address=http://authelia:8080/api/authz/forward-auth"
    deploy:
      resources:
        limits:
          memory: 200M
        reservations:
          memory: 100M
