volumes:
  authelia-pam:
services:
  init-authelia-pam:
    image: alpine/curl
    container_name: init-authelia-pam
    volumes:
      - authelia-pam:/auth:rw
    environment:
      VERSION: "0.1.6"
    cap_drop: ["ALL"]
    cap_add: ["CHOWN", "DAC_OVERRIDE"]
    command: >
      sh -c '
        set -x -e;
        cd /auth;
        curl -L -O "https://github.com/nikarh/authelia-pam/releases/download/v$$VERSION/authelia-pam-$(uname -m)-unknown-linux-musl-v$$VERSION-rustls.tar.gz"
        tar -zxvf authelia-pam-$(uname -m)-unknown-linux-musl-v$$VERSION-rustls.tar.gz;
        rm *.tar.gz;
      '
