x-service-defaults: &service-defaults
  restart: unless-stopped
  logging:
    driver: "json-file"
    options:
      max-size: ${LOG_MAX_SIZE:-200k}
      max-file: ${LOG_MAX_FILE:-5}
  networks:
    - backup_net

x-hardened: &hardened
  read_only: true
  security_opt:
    - no-new-privileges:true
  cap_drop:
    - NET_RAW

secrets:
  SSH_KEY:
    file: ../common/docker/secrets/backup_rsa
services:
  # Backup docker volumes to ftp
  # TODO: use labels for that
  volume-backup:
    image: nikarh/fileserver-sftpd-backup
    container_name: volume-backup
    <<: [*service-defaults, *hardened]
    environment:
      MAXIMUM_BACKUP_NUMBER: 3
      SFTP_HOST: files
      SFTP_PORT: 2222
      SFTP_USER: backups
      SFTP_ROOT: /data/${DOMAIN}/
    volumes:
      # Volumes to backup
      - traefik-data:/volumes/traefik-data:ro
      - authelia-data:/volumes/authelia-data:ro
      - esphome-data:/volumes/esphome-data:ro
      - radarr-data:/volumes/radarr-data:ro
      - sonarr-data:/volumes/sonarr-data:ro
      - bazarr-data:/volumes/bazarr-data:ro
      - readarr-data:/volumes/readarr-data:ro
      - prowlarr-data:/volumes/prowlarr-data:ro
      - jellyseerr-data:/volumes/jellyseerr-data:ro
      - kavita-data:/volumes/kavita-data:ro
      - filebrowser-data:/volumes/filebrowser-data:ro
      - qbittorrent-data:/volumes/qbittorrent-data:ro
      - qbittorrent-unsafe-data:/volumes/qbittorrent-unsafe-data:ro
      - syncthing-data:/volumes/syncthing-data:ro
      - jellyfin-config:/volumes/jellyfin-data:ro
      - netdata-lib:/volumes/netdata-lib:ro
      - netdata-cache:/volumes/netdata-cache:ro
      - mail-data:/volumes/mail-data:ro
      - roundcube-db:/volumes/roundcube-db:ro
      - immich-db-data:/volumes/immich-db-data:ro
      - switcheroo-db:/volumes/switcheroo-db:ro
      - fail2ban-db:/volumes/fail2ban-db:ro
      - scrutiny-config:/volumes/scrutiny-config:ro
      - scrutiny-influxdb:/volumes/scrutiny-influxdb:ro
      - grafana-data:/volumes/grafana-data:ro
      - affine-data:/volumes/affine-data:ro
      - affine-config:/volumes/affine-config:ro
      - affine-db-data:/volumes/affine-db-data:ro
      - affine-db-data:/volumes/affine-db-data:ro
      - outline-storage-data:/volumes/outline-storage-data:ro
      - outline-database-data:/volumes/outline-database-data:ro
    secrets:
      - SSH_KEY
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 300M

  # Backup gdrive documents to home server
  gdrive-backup-from:
    image: nikarh/fileserver-rclone
    container_name: gdrive-backup-from
    <<: [*service-defaults, *hardened]
    user: 911:1000
    entrypoint: ""
    volumes:
      - /var/lib/docker-services/volumes/rclone:/config/rclone
      - /var/data/shares/nikarh/Backup/Google Drive:/backup
    command: >
      sh -c '
        while true; do
          rclone -vv sync gdrive-ro: "/backup" --exclude "/BACKUP/**";
          sleep 1h;
        done
      '
    deploy:
      resources:
        limits:
          memory: 200M
        reservations:
          memory: 20M
  # Backup home server documents to gdrive
  gdrive-backup-to:
    image: nikarh/fileserver-rclone
    container_name: gdrive-backup-to
    <<: [*service-defaults, *hardened]
    user: 911:1000
    entrypoint: ""
    volumes:
      - /var/lib/docker-services/volumes/rclone:/config/rclone
      - /var/data/shares/nikarh/Documents:/backup/Documents
      - /var/data/shares/nikarh/Syncthing/My Music/Projects/Mixdown:/backup/Mixdown
      - /var/data/shares/nikarh/Syncthing/KeePass:/backup/KeePass
      - /var/data/home/nikarh/data/Music/Melissa Cross/Baritone:/backup/Vocal Warm-Ups
    command: >
      sh -c '
        rclone -vv sync "/backup" gdrive-rw:/BACKUP/ --exclude ".stignore" --exclude ".stfolder/";
        inotifywait -qmr -e modify -e move -e move_self -e close_write -e moved_to -e moved_from -e create -e delete -e delete_self -t 0 /backup | while true; do
          if ! ps -a -o comm | grep -q ^inotifywait$; then
            echo "Intofiywait died!"
            break;
          fi;
          sleep 5;
          head -n 1;
        done | while read -r file ; do
          rclone -vv sync "/backup" gdrive-rw:/BACKUP/ --exclude ".stignore" --exclude ".stfolder/";
        done
      '
    deploy:
      resources:
        limits:
          memory: 200M
        reservations:
          memory: 20M
networks:
  backup_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.64/28
