x-arr-env: &arr_env
  PGID: 1000
  PUID: 1000
  TZ: Europe/Riga
x-service-defaults: &service-defaults
  restart: unless-stopped
  logging:
    driver: "json-file"
    options:
      max-size: ${LOG_MAX_SIZE:-200k}
      max-file: ${LOG_MAX_FILE:-5}
  healthcheck:
    disable: true
x-hardened: &hardened
  read_only: true
  security_opt:
    - no-new-privileges:true
  cap_drop:
    - NET_RAW

volumes:
  filebrowser-data:
  syncthing-data:
  esphome-data:
  esphome-cache:

services:
  # This is required at least for esphome
  mdns-repeater:
    image: angelnu/mdns_repeater
    container_name: mdns-repeater
    <<: [*service-defaults, *hardened]
    user: 65534:65534
    network_mode: host
    environment:
      - hostNIC=eth0
      - dockerNIC=br-esphome
    deploy:
      resources:
        limits:
          memory: 10M
        reservations:
          memory: 10M
  # Homer is served from GH pages on the outside world,
  # but we also serve it from here for internal access.
  homer:
    image: b4bz/homer
    container_name: homer
    <<: [*service-defaults, *hardened]
    user: "65534:65534"
    volumes:
      - /var/lib/docker-services/volumes/homer:/www/assets:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homer.rule=Host(`home.arhipov.net`) || Host(`u8.lv`)"
      - "traefik.http.routers.homer.entrypoints=https"
    networks:
      - files_net
    deploy:
      resources:
        limits:
          memory: 10M
        reservations:
          memory: 10M
  # samba:
  #   image: nikarh/fileserver-samba
  #   container_name: samba
  #   <<: [*service-defaults, *hardened]
  #   ports:
  #     - 137:137/udp # nmbd
  #     - 138:138/udp # nmbd
  #     - 139:139 # smb over netbios
  #     - 445:445 # smb over tcp
  #   volumes:
  #     - /var/lib/docker-services/volumes/samba/create-shares.sh:/scripts/create-shares.sh:ro
  #     - /var/data/home:/home
  #   networks:
  #     - isolated_net
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 200M
  #       reservations:
  #         memory: 20M
  sftpd:
    # On 2023.03.15 alpine version started freezing on connection.
    # Migrated to ubuntu.
    image: atmoz/sftp
    container_name: sftpd
    <<: [*service-defaults] # Probably needs tmp
    ports:
      - "2222:22"
    entrypoint: /run.sh
    volumes:
      # Configs
      - /var/lib/docker-services/volumes/sftpd/secrets/ssh_host_ed25519_key:/etc/ssh/ssh_host_ed25519_key:ro
      - /var/lib/docker-services/volumes/sftpd/secrets/ssh_host_rsa_key:/etc/ssh/ssh_host_rsa_key:ro
      - /var/lib/docker-services/volumes/sftpd/sshd_config:/etc/ssh/sshd_config:ro
      - /var/lib/docker-services/volumes/sftpd/run.sh:/run.sh:ro
      - /var/lib/docker-services/volumes/sftpd/authelia.sh:/authelia.sh:ro
      - /var/lib/docker-services/volumes/sftpd/pam-sshd:/etc/pam.d/sshd:ro
      # Data
      - /var/data/home:/home
      - /var/data/shares/nikarh/Syncthing/My Music/NT Shared:/home/nt
    networks:
      - isolated_net
    deploy:
      resources:
        limits:
          memory: 100M
        reservations:
          memory: 50M
  filebrowser:
    image: filebrowser/filebrowser
    container_name: filebrowser
    <<: [*service-defaults, *hardened]
    user: 1000:1000
    volumes:
      - /var/data/home:/srv
      - filebrowser-data:/mnt
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.files.loadbalancer.server.port=8080"
      - "traefik.http.routers.files.rule=Host(`${DOMAIN}`) || Host(`f.u8.lv`)"
      - "traefik.http.routers.files.entrypoints=https"
      - "traefik.http.routers.files.middlewares=authelia@docker"
    command:
      - "--cache-dir=/mnt/data/cache"
      - "-d=/mnt/data/filebrowser.db"
      - "-c=/mnt/data/filebrowser.json"
      - "-p=8080"
    networks:
      - files_net
    deploy:
      resources:
        limits:
          # For making archives in-place
          memory: 5G
        reservations:
          memory: 20M
  syncthing:
    image: syncthing/syncthing:latest
    container_name: syncthing
    <<: [*service-defaults, *hardened]
    user: "1000:1000"
    ports:
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    environment:
      <<: *arr_env
    volumes:
      - syncthing-data:/var/syncthing/config
      - /var/data/shares/nikarh:/var/data/shares/nikarh
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.syncthing.loadbalancer.server.port=8384"
      - "traefik.http.routers.syncthing.rule=Host(`syncthing.${DOMAIN}`)"
      - "traefik.http.routers.syncthing.entrypoints=https"
      - "traefik.http.routers.syncthing.middlewares=authelia@docker"
    networks:
      - isolated_net
    depends_on:
      init-volumes:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 300M
  esphome:
    # https://github.com/esphome/esphome/issues/13170
    image: docker.io/ptr727/esphome-nonroot:latest
    container_name: esphome
    <<: [*service-defaults, *hardened]
    user: 65534:65534
    environment:
      TZ: Europe/Riga
    volumes:
      - esphome-data:/config
      - esphome-cache:/cache
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.esphome.loadbalancer.server.port=6052"
      - "traefik.http.routers.esphome.rule=Host(`esphome.${DOMAIN}`)"
      - "traefik.http.routers.esphome.entrypoints=https"
      - "traefik.http.routers.esphome.middlewares=authelia@docker"
    networks:
      - esphome_net
    depends_on:
      init-volumes:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 50M

networks:
  files_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.128/28
  esphome_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.144/28
    driver_opts:
      com.docker.network.bridge.name: "br-esphome"