x-service-defaults: &service-defaults
  restart: unless-stopped
  logging:
    driver: "json-file"
    options:
      max-size: ${LOG_MAX_SIZE:-200k}
      max-file: ${LOG_MAX_FILE:-5}
  networks:
    - immich_net

x-hardened: &hardened
  read_only: true
  security_opt:
    - no-new-privileges:true
  cap_drop:
    - NET_RAW

volumes:
  immich-db-data:
  immich-data:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/var/data/shares/nikarh/Backup/immich"

services:
  # immich-init-volumes:
  #   image: alpine
  #   <<: [*service-defaults, *hardened]
  #   cap_drop: ["ALL"]
  #   cap_add: ["CHOWN"]
  #   volumes:
  #     immich-db-data:/volumes/immich-db-data
  #   command: >
  #     sh -c '
  #       chown 10000:10000 /volumes/immich-db-data; touch /volumes/immich-db-data/.keep-volume-initialized
  #     '
  immich-redis:
    image: valkey/valkey:alpine
    container_name: immich-redis
    <<: [*service-defaults, *hardened]
    user: "999:999"
    command: >
      --requirepass ${IMMICH_REDIS_PASSWORD} --save "" --appendonly no
    tmpfs:
      - /data:size=10M
    deploy:
      resources:
        limits:
          memory: 200M
        reservations:
          memory: 20M
  immich-postgres:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.5.3-pgvector0.8.1
    container_name: immich-postgres
    <<: [*service-defaults, *hardened]
    user: "999:999"
    environment:
      POSTGRES_DB: immich
      POSTGRES_USER: immich
      POSTGRES_PASSWORD: ${IMMICH_DB_PASSWORD}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - immich-db-data:/var/lib/postgresql/data
    tmpfs:
      - /tmp:noexec,size=1G # Large queries
      - /var/run/postgresql:noexec,size=1M # Socket
      - /etc/postgresql:noexec,size=1M # Overwrites config on startup
      - /var/lib/postgresql:noexec,size=1M # Needs to chown the data folder
    restart: always
    shm_size: 256M
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 100M
  immich:
    image: ghcr.io/imagegenius/immich:latest
    container_name: immich
    <<: *service-defaults
    devices:
      - /dev/dri:/dev/dri
    environment:
      - DB_HOSTNAME=immich-postgres
      - DB_PORT=5432
      - DB_DATABASE_NAME=immich
      - DB_USERNAME=immich
      - DB_PASSWORD=${IMMICH_DB_PASSWORD}
      - REDIS_HOSTNAME=immich-redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${IMMICH_REDIS_PASSWORD}
      - JWT_SECRET=${IMMICH_JWT_SECRET}
      - DISABLE_MACHINE_LEARNING=true
      - TZ=Europe/Riga
    volumes:
      - immich-data:/photos
    depends_on:
      immich-postgres:
        condition: service_started
      immich-redis:
        condition: service_started
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.immich.loadbalancer.server.port=8080"
      - "traefik.http.routers.immich.rule=Host(`immich.${DOMAIN}`) || Host(`photos.${DOMAIN}`) || Host(`i.u8.lv`) || Host(`p.u8.lv`)"
      - "traefik.http.routers.immich.entrypoints=https"
      - "traefik.http.routers.immich.middlewares=immich-redirect,immich-redirect1,immich-redirect2"
      - "traefik.http.middlewares.immich-redirect.redirectregex.regex=^https://i\\.u8\\.lv/(.*)"
      - "traefik.http.middlewares.immich-redirect.redirectregex.replacement=https://immich.${DOMAIN}/$$1"
      - "traefik.http.middlewares.immich-redirect1.redirectregex.regex=^https://p\\.u8\\.lv/(.*)"
      - "traefik.http.middlewares.immich-redirect1.redirectregex.replacement=https://immich.${DOMAIN}/$$1"
      - "traefik.http.middlewares.immich-redirect2.redirectregex.regex=^https://photos.${DOMAIN}/(.*)"
      - "traefik.http.middlewares.immich-redirect2.redirectregex.replacement=https://immich.${DOMAIN}/$$1"
      - "traefik.docker.network=immich_net"
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 512M
networks:
  immich_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.32/28
