version: "3.8"
x-service-defaults: &service-defaults
  restart: unless-stopped
  logging:
    driver: "json-file"
    options:
      max-size: ${LOG_MAX_SIZE:-200k}
      max-file: ${LOG_MAX_FILE:-5}
  healthcheck:
    disable: true
volumes:
  nitter-redis-data:
services:
  libreddit:
    image: nikarh/fileserver-libreddit
    container_name: libreddit
    <<: *service-defaults
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.libreddit.loadbalancer.server.port=8080"
      - "traefik.http.routers.libreddit.rule=Host(`r.u8.lv`)"
      - "traefik.http.routers.libreddit.entrypoints=https"
      - "traefik.http.routers.libreddit.middlewares=authelia@docker"
  nitter:
    image: ghcr.io/nikarh/nitter:guest_accounts
    container_name: nitter
    <<: *service-defaults
    volumes:
      - /var/lib/docker-services/volumes/nitter/nitter.conf:/src/nitter.conf:Z,ro
      - /var/lib/docker-services/volumes/nitter/guest_accounts.json:/src/guest_accounts.json:Z,ro
    depends_on:
      - nitter-redis
    user: "998:998"
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.nitter.loadbalancer.server.port=8080"
      - "traefik.http.routers.nitter.rule=Host(`t.u8.lv`)"
      - "traefik.http.routers.nitter.entrypoints=https"
      - "traefik.http.routers.nitter.middlewares=authelia@docker"
  nitter-redis:
    image: redis:6-alpine
    container_name: nitter-redis
    <<: *service-defaults
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - nitter-redis-data:/data
    user: "999:1000"
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
