x-service-defaults: &service-defaults
  restart: unless-stopped
  logging:
    driver: "json-file"
    options:
      max-size: ${LOG_MAX_SIZE:-200k}
      max-file: ${LOG_MAX_FILE:-5}
  healthcheck:
    disable: true
volumes:
  nitter-data:
  nitter-redis-data:
services:
  redlib:
    # image: quay.io/redlib/redlib:latest
    image: ghcr.io/cycneuramus/containers@sha256:4b607fd58f2c170d9bbf073bfedbe570c5b6f29c7e72b3a2285e86d5c7f98af9
    container_name: redlib
    <<: *service-defaults
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.redlib.loadbalancer.server.port=8080"
      - "traefik.http.routers.redlib.rule=Host(`r.u8.lv`)"
      - "traefik.http.routers.redlib.entrypoints=https"
      - "traefik.http.routers.redlib.middlewares=authelia@docker"
    deploy:
      resources:
        limits:
          memory: 100M
        reservations:
          memory: 50M
