x-common-env: &common_env
  PGID: 1000
  PUID: 1000
  TZ: Europe/Riga
x-defaults: &defaults
  logging:
    driver: "json-file"
    options:
      max-size: ${LOG_MAX_SIZE:-200k}
      max-file: ${LOG_MAX_FILE:-5}
x-service-defaults: &service-defaults
  <<: [*defaults]
  restart: unless-stopped
x-hardened: &hardened
  read_only: true
  security_opt:
    - no-new-privileges:true
  cap_drop:
    - NET_RAW

volumes:
  netdata-lib:
  netdata-cache:
  vector-logs:
  fail2ban-db:
  victoria-logs-data:
  grafana-data:
  scrutiny-config:
  scrutiny-influxdb:
services:
  # Ensure volumes have correct ownership
  monitoring-init-volumes:
    image: alpine
    container_name: monitoring-init-volumes
    <<: [*defaults, *hardened]
    cap_drop: ["ALL"]
    cap_add: ["CHOWN", "DAC_OVERRIDE"]
    volumes:
      - victoria-logs-data:/volumes/victoria-logs-data
    command: >
      sh -c '
        chown 1000:1000 /volumes/victoria-logs-data; touch /volumes/victoria-logs-data/.keep-volume-initialized;
      '
  # Basic monitoring
  netdata:
    image: netdata/netdata
    container_name: netdata
    hostname: netdata
    <<: *service-defaults
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    environment:
      DISABLE_TELEMETRY: 1
      DOCKER_USR: 1000
      DOCKER_GRP: 1000
    volumes:
      - netdata-lib:/var/lib/netdata
      - netdata-cache:/var/cache/netdata
      - /var/lib/docker-services/volumes/netdata/netdata.conf:/etc/netdata/netdata.conf:ro
      - /var/lib/docker-services/volumes/netdata/cloud.conf:/var/lib/netdata/cloud.d/cloud.conf:ro
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /dev/disk/by-id:/host/dev/by-id:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.netdata.loadbalancer.server.port=19999"
      - "traefik.http.routers.netdata.rule=Host(`netdata.${DOMAIN}`)"
      - "traefik.http.routers.netdata.entrypoints=https"
      - "traefik.http.routers.netdata.middlewares=authelia@docker,netdata-redirect@docker"
      - "traefik.http.middlewares.netdata-redirect.redirectregex.regex=^/$"
      - "traefik.http.middlewares.netdata-redirect.redirectregex.replacement=/v3/"
      - "traefik.http.middlewares.netdata-redirect.redirectregex.permanent=true"
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 512M
  vector:
    image: timberio/vector:latest-alpine
    container_name: vector
    <<: *service-defaults
    environment:
      VECTOR_OPENSSL_LEGACY_PROVIDER: "false"
      TZ: Europe/Riga
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - /var/lib/docker-services/volumes/vector:/etc/vector
      - vector-logs:/out
    deploy:
      resources:
        limits:
          memory: 300M
        reservations:
          memory: 150M
  victoria-logs:
    image: victoriametrics/victoria-logs:latest
    container_name: victoria-logs
    <<: [*service-defaults, *hardened]
    user: "1000:1000"
    volumes:
      - victoria-logs-data:/victoria-logs-data
    command: -storageDataPath=/victoria-logs-data -retentionPeriod=1y
    depends_on:
      monitoring-init-volumes:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          memory: 500M
        reservations:
          memory: 128M
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    <<: *service-defaults
    user: "1000"
    environment:
      GF_INSTALL_PLUGINS: "victoriametrics-logs-datasource"
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
      GF_AUTH_ANONYMOUS_ENABLED: "false"
      GF_AUTH_DISABLE_LOGIN_FORM: "true"
      GF_AUTH_BASIC_ENABLED: "false"
      GF_USERS_ALLOW_SIGN_UP: "false"
      GF_USERS_AUTO_ASSIGN_ORG: "true"
      GF_USERS_AUTO_ASSIGN_ORG_ROLE: "Admin"
      GF_AUTH_PROXY_ENABLED: "true"
      GF_AUTH_PROXY_HEADER_NAME: "Remote-User"
      GF_AUTH_PROXY_HEADERS: "Name:Remote-Name Email:Remote-Email Groups:Remote-Groups"
      GF_AUTH_PROXY_AUTO_SIGN_UP: "true"
    volumes:
      - grafana-data:/var/lib/grafana
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: VictoriaLogs1
          type: victoriametrics-logs-datasource
          access: proxy
          orgId: 1
          url: http://victoria-logs:9428
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        EOF
        /run.sh
    deploy:
      resources:
        limits:
          memory: 500M
        reservations:
          memory: 100M
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
      - "traefik.http.routers.grafana.rule=Host(`grafana.${DOMAIN}`)"
      - "traefik.http.routers.grafana.entrypoints=https"
      - "traefik.http.routers.grafana.middlewares=authelia@docker"
  logrotate:
    image: linkyard/logrotate
    container_name: logrotate
    <<: *service-defaults
    environment:
      LOGROTATE_FILE_PATTERN: "*.log"
      LOGROTATE_ROTATE: "0"
      LOGROTATE_TRUNCATE: "copytruncate"
      LOGROTATE_CRON: "*/5 0 0 0 0"
      LOGROTATE_SIZE: "10M"
    volumes:
      - vector-logs:/logs
    deploy:
      resources:
        limits:
          memory: 40M
        reservations:
          memory: 10M
  init-fail2ban-volume:
    image: alpine
    command: >
      sh -c "
        mkdir -p /db/fail2ban;
        chown 1000:1000 /db/fail2ban;
      "
    volumes:
      - fail2ban-db:/db
  fail2ban:
    image: lscr.io/linuxserver/fail2ban:1.1.0-r2-ls19
    container_name: fail2ban
    <<: *service-defaults
    cap_add:
      - NET_ADMIN
      - NET_RAW
    network_mode: host
    environment:
      <<: *common_env
      VERBOSITY: -v
    volumes:
      - /var/lib/docker-services/volumes/fail2ban/jail.local:/config/fail2ban/jail.local:ro
      - /var/lib/docker-services/volumes/fail2ban/fail2ban.local:/config/fail2ban/fail2ban.local:ro
      - vector-logs:/remotelogs:ro
      - fail2ban-db:/db
    deploy:
      resources:
        limits:
          memory: 100M
        reservations:
          memory: 50M
    depends_on:
      init-fail2ban-volume:
        condition: service_completed_successfully
  scrutiny:
    image: ghcr.io/analogj/scrutiny:master-omnibus
    container_name: scrutiny
    <<: *service-defaults
    cap_add:
      - SYS_RAWIO
    devices:
      - /dev/sda:/dev/sda
      - /dev/sdb:/dev/sdb
      - /dev/sdc:/dev/sdc
      - /dev/sdd:/dev/sdd
      - /dev/sde:/dev/sde
    volumes:
      - scrutiny-config:/opt/scrutiny/config
      - scrutiny-influxdb:/opt/scrutiny/influxdb
      - /run/udev:/run/udev:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.scrutiny.loadbalancer.server.port=8080"
      - "traefik.http.routers.scrutiny.rule=Host(`disks.${DOMAIN}`)"
      - "traefik.http.routers.scrutiny.entrypoints=https"
      - "traefik.http.routers.scrutiny.middlewares=authelia@docker"
    deploy:
      resources:
        limits:
          memory: 500M
        reservations:
          memory: 100M
