x-service-defaults: &service-defaults
  restart: unless-stopped
  logging:
    driver: "json-file"
    options:
      max-size: ${LOG_MAX_SIZE:-200k}
      max-file: ${LOG_MAX_FILE:-5}
  healthcheck:
    disable: true

volumes:
  switcheroo-db:

x-hardened: &hardened
  read_only: true
  security_opt:
    - no-new-privileges:true
  cap_drop:
    - NET_RAW

services:
  # TODO: replace apache with something simpler and move into a subnet
  miniserve:
    image: httpd:alpine
    container_name: miniserve
    <<: [*service-defaults, *hardened]
    user: "65534:65534"
    volumes:
      - /var/lib/docker-services/volumes/miniserve/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro
      - /var/smalldata/Games:/usr/local/apache2/htdocs:ro
    tmpfs:
      - /run/httpd
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.miniserve.loadbalancer.server.port=8080"
      - "traefik.http.routers.miniserve.rule=Host(`miniserve.${DOMAIN}`)"
      - "traefik.http.routers.miniserve.entrypoints=https"
      - "traefik.http.routers.miniserve.middlewares=miniserve-auth"
      - "traefik.http.middlewares.miniserve-auth.basicauth.users=${MINISERVE_AUTH}"
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 32M
  # TODO: move to semi/isolated subnet (need to comm with qbit)
  # TODO: bridge with qbit to omit traefik+authelia
  switcheroo:
    image: nikarh/xcabczxabcz
    container_name: switcheroo
    <<: [*service-defaults, *hardened]
    user: "10000:10000"
    volumes:
      - switcheroo-db:/data:rw
      - /var/lib/docker-services/volumes/switcheroo/secrets/.env:/.env:ro
    deploy:
      resources:
        limits:
          memory: 100M
        reservations:
          memory: 50M
