**/init-hass/.storage/** filter=git-crypt diff=git-crypt
**/init-hass/service-account.json filter=git-crypt diff=git-crypt
**/init-hass/secrets.yaml filter=git-crypt diff=git-crypt
**/mosquitto/users.conf filter=git-crypt diff=git-crypt
**/zigbee2mqtt/secret.yaml filter=git-crypt diff=git-crypt
**/secrets/** filter=git-crypt diff=git-crypt
