[Unit]
Description=Disable leds

[Service]
ExecStartPre=/bin/bash -c "echo 0 > /sys/class/leds/green_led/brightness"
ExecStart=/bin/bash -c "echo 0 > /sys/class/leds/red_led/brightness"

[Install]
WantedBy=multi-user.target
