[Unit]
Description=Disable leds

[Service]
ExecStartPre=/bin/bash -c "echo 0 > /sys/class/leds/ACT/brightness"
ExecStart=/bin/bash -c "echo 0 > /sys/class/leds/PWR/brightness"

[Install]
WantedBy=multi-user.target
