[Unit]
Before=sleep.target
StopWhenUnneeded=yes
[Service]
Type=oneshot
StandardOutput=syslog
RemainAfterExit=yes
ExecStart=dbus-send --system --type=signal / org.powertools.Suspend
ExecStop=dbus-send --system --type=signal / org.powertools.Resume
[Install]
WantedBy=sleep.target