[theme]
theme = "plain"
[theme.overrides]
separator = ""
idle_bg = "#282A36"
idle_fg = "#738694"
separator_bg = "#282A36"
separator_fg = "#30404D"
warning_bg = "#282A36"
warning_fg = "#e5a96e"
critical_bg = "#282A36"
critical_fg = "#db6e6e"
info_bg = "#282A36"
info_fg = "#CED9E0"

[icons]
icons = "awesome4"
[icons.overrides]
docker = "\uf308"
update = "󰏕"
disk_drive = "󰋊"
microphone = "󰍬"
headphones = "󰋋"
display = "\uf2d0"

[[block]]
block = "custom"
hide_when_empty = true
command = """Z
    test -f "/tmp/reboot-indicator" && echo "\uf021 Reboot" || echo ""
"""
[block.theme_overrides]
idle_fg = "#CED9E0"

[[block]]
block = "docker"
interval = 2
format = " $icon $running.eng(w:1)/$total.eng(w:1) "

[[block]]
block = "disk_space"
path = "/"
info_type = "available"
format = " $icon $available "
interval = 20
warning = 3.0
alert = 1.0

[[block]]
block = "memory"
format = " $icon $mem_avail "

# [[block]]
# block = "custom"
# json = true
# command = """
#     echo '{
#         "icon": "display",
#         "text": "'$(autorandr --current)'"
#     }'
# """
# [[block.click]]
# button = "left"
# cmd = "/usr/bin/autorandr --cycle"

[[block]]
block = "custom"
json = true
persistent = true
command = "~/.local/bin/pwtool --i3statusrc source"
[[block.click]]
button = "left"
cmd = "/home/nikarh/.local/bin/padevice.sh in"

[[block]]
block = "custom"
json = true
persistent = true
command = "~/.local/bin/pwtool --i3statusrc sink"
[[block.click]]
button = "left"
cmd = "/home/nikarh/.local/bin/padevice.sh out"


[[block]]
block = "battery"
format = " $icon $percentage {$time_remaining.dur(hms:true, min_unit:m) |}"
driver = "sysfs"
if_command = "ls /sys/class/power_supply | grep -q BAT"
missing_format = ""

[[block]]
block = "custom"
interval = 2
command = "date +\"%a %d %b %R %:::z\""

[[block]]
block = "keyboard_layout"
driver = "sway"
format = "$layout"
[block.mappings]
"Latvian (N/A)" = " EN "
"Russian (N/A)" = " RU "