[Unit]
Description=Lock the screen
Before=sleep.target suspend.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=":0"
ExecStart=i3lock-fancy-rapid 5 2

[Install]
WantedBy=sleep.target suspend.target