[Desktop Entry]
Version=1.0
Name=Redshift (Dark)
GenericName=Color temperature adjustment
Comment=Color temperature adjustment tool
Exec=redshift-gtk -t 6500:4200
Icon=redshift
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
