[Unit]
Description=Disable leds

[Service]
ExecStartPre=/bin/bash -c "echo 0 > /sys/class/leds/led0/brightness"
ExecStart=/bin/bash -c "echo 0 > /sys/class/leds/led1/brightness"

[Install]
WantedBy=multi-user.target
