/* vim:ft=css */
@theme "~/.config/rofi/theme.rasi"

configuration {
    font: "Hack\ 15";
    show-icons: true;
    terminal: "alacritty";
    ssh-client: "ssh";
    ssh-command: "{terminal} -e {ssh-client} {host}";

    kb-mode-next: "Tab";
    kb-mode-previous: "ISO_Left_Tab";
    kb-element-next: "";
    kb-element-prev: "";
}
