[Unit]
Before=sleep.target
StopWhenUnneeded=yes
[Service]
Type=oneshot
StandardOutput=syslog
RemainAfterExit=yes
ExecStop=/usr/bin/rmmod nvidia_uvm
ExecStopPost=/usr/bin/modprobe nvidia_uvm
[Install]
WantedBy=sleep.target