[Desktop Entry]
Version=1.0
Type=Application
Icon=Skype
Name=Skype
GenericName=Skype as a chromium app
Comment=Launch chromium with Skype
Categories=Laptop;
Exec=chromium --app="https://web.skype.com/"
Terminal=false
