[Desktop Entry]
Version=1.0
Type=Application
Name=Bilderlings Slack
Comment=Launch chromium with Agile Stack Slack as an app
Categories=Laptop;
Exec=chromium --app="https://bilderlings-pay.slack.com"
Terminal=false
