[Desktop Entry]
Version=1.0
Type=Application
Icon=Spotify
Name=Spotify
GenericName=Music player
Comment=Launch chromium with Spotify
Categories=Laptop;
Exec=chromium --app="https://open.spotify.com/collection/playlists"
Terminal=false
