[Desktop Entry]
Version=1.0
Type=Application
Icon=Spotify
Name=Spotify
GenericName=Spotify as a chromium app
Comment=Launch chromium with Spotify
Categories=Laptop;
Exec=vivaldi-stable --app="https://open.spotify.com/collection/playlists"
Terminal=false
