[Desktop Entry]
Version=1.0
Type=Application
Name=Facebook Messenger
GenericName=Messenger as a chromium app
Comment=Launch chromium with Messenger
Exec=chromium --profile-directory=Default --app="https://messenger.com"
Terminal=false
